body {
    font-family: "Helvetica", "Comic Sans MS", "Comic Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: radial-gradient(circle, #4a0000 0%, #1a1a1a 100%);
    background-attachment: fixed;
}

h1, h2, h3 {
    color: #ff4d4d;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

p {
    text-align: center;
}

/* nav bar */
nav {
    position: sticky;
    top:0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 30px;
    row-gap: 20px;
    padding: 20px;
    margin: 0;
    
    background: radial-gradient(circle at center, #990000, #4a0000);
    box-shadow: 0 5px 15px #000000;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}

/* animations */
nav a:hover {
    transform: scale(1.5);
    color: #ff4d4d;
}

button:hover{
    transform: scale(1.25);
}

/*  */
section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    justify-content: center;
    list-style: none;
}

section ul li {
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #4a0000;
    box-shadow: 10px 10px 20px #0a0a0a, -5px -5px 15px #333333;
    text-align: center;
    width: 250px;
}

/* general */
button {
    background: radial-gradient(circle at top, #ff0000, #800000);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px #4d0000;
    transition: all 0.1s;
}

hr {
    border: none;
    height: 3px;
    background: linear-gradient(to right, #ff4d4d, #1a1a1a);
    margin: 0;
    padding: 0;
}

/* checkout page */
.checkout-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5vh 5vw;
    gap: 20px;
}

.checkout-form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vh 5vw 1vh;
}

.place-order {
    margin-bottom: 5vh;
    text-align: center;
}

/* footer */
footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.instagram {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}